{% extends "base.html" %}

{% block title %} Select a Category {% endblock %}
<!-- users can select from a list of predefined categories -->
{% block content %}

<br>
  <div id="categories">

      <h1>Word Categories</h1>

      {% for category in categories %}
      {% if loop.index%3 == 1 %}
      <br><br>
      {% endif %}
          <a href="/game?mode={{ category }}" style="text-decoration:none"><button class="btn btn-outline-secondary" style="width:150px;" type="button" >
              {{ category }}
          </button>
          </a>
      {% endfor %}
</div>
<br>
{% endblock %}
