{% extends "base.html" %} {% block title %} Alphabet Goop {% endblock %}
<!-- game board -->

<!-- display leaderboard if applicable -->
<style>
  td {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
{% block content %}
<div>

  <div id="word-bank">
      <br>
      <h3>Word Bank</h3>
      {% if not wb %}
      <p> Not a size or valid category. Have fun finding nothing. </p>
      {% endif%}
      <p>{% for word in wb %} <span id="word" style="color:#4a9b7d;">{{ word }}</span> | {% endfor %}</p>
  </div>
  <h4 class="center" id="finish_msg" style="display:none">Congratulations! You have finished the game!</h4>
  <div class="center" id="finish_game" style="display:none">
      <br>{% if logged_in and mode != "custom" and mode != "random" %}<button id="save_time" class="btn btn-secondary">Submit Time</button>{% endif %}
      <button id="try_again" class="btn btn-outline-secondary">Try Again</button>
      <br><br>
  </div>
  <form action="/time" id="timerForm" >
    <input type="hidden" id="time" name="time">
    <input type="hidden" name="mode" value={{mode}}>
  </form>
  <form action="/game" id="gameForm" >
    <input type="hidden" name="mode" value={{mode}}>
    <input type="hidden" name="category" value={{cat}}>
    <input type="hidden" name="size" value={{size}}>
  </form>
  <div id="timer" style="color:#34b4e2;">
    <span id="timer-number"> 0</span>s
  </div>
  <br>
  <div id="selected">Select a Word</div>
  <br>
  <div id="puzzle">
    <table>
      <tbody>
        {% for row in board %}
        <tr>
          {% for letter in row %}
          <td class="letter">{{ letter }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <br>

  <div id="best">
    {% if logged_in and mode != "custom" and mode != "random" %}
        Personal Best:
        {% if not time %}
            N/A
        {% else %}
            {{ time }}s
        {% endif %}
    {% endif %}
  </div>
</div>


<script>
  // shows syntax error but it's how jinja works
  let words = {{wb|safe}};
</script>
<script src="../static/game.js"></script>

{% endblock %}

{% block footer %}<!--Copyright stuff -->
<br><br>
<footer class="footer" style="text-align:center;">
  <div class="container">
    <p class="text-muted">&copy; Copyright charred_cheetos</p>
  </div>
</footer>
 {% endblock %}
