@import url('https://fonts.googleapis.com/css?family=Nunito|Righteous');

* {
  font-family: 'Nunito';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.center {
  text-align: center;
}

table {
  padding: 0px;

  border-collapse: collapse;
  table-layout: fixed;

  margin: auto;
  border: 1px solid black;
}

td {
  height: 55px;
  width: 55px;

  padding: 0px;

  empty-cells: show;
  text-align: center;
  vertical-align: baseline;
  font-size: 35px;
  cursor: pointer;
}

#selected {
  text-align: center;
}

#puzzle {
}

#word-bank {
  text-align: center;
  overflow: auto;
  width: 50%;
  margin: auto;
}

#timer {
  text-align: center;
}

#user-info {
  margin: auto;
  margin-top: 5%;
  width: 50%;
}

#custom {
  margin: auto;
  margin-top: 5%;
  width: 50%;
}
