{% extends "base.html" %}

{% block title %} Select a Category {% endblock %}
<!-- users can select from a list of predefined categories -->
{% block content %}

<br>
<ul>
  <div id="categories">
  <div class="dropdown">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Word Categories
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for category in categories %}
      <a class="dropdown-item" href="/game?mode={{ category }}"> {{ category }} </a>
      {% endfor %}
    </div>
  </div>
</div>

</ul>

{% endblock %}
