{% extends "base.html" %}

{% block title %} Custom Game {% endblock %}
<!-- users can specify number of words and size of board -->
{% block content %}
<div id="custom">

  <h3>Custom</h3>
  <form action="/game">
      <div class="form-group">
          <label for="size">Size (letters per row)</label>
          <input type="number" name="size" class="form-control" id="size" placeholder="size">
      </div>
      <div class="form-group">
          <label for="category">Category</label>
          <input type="text" name="category" class="form-control" id="category" placeholder="category">
      </div>
    <br>
    <div><button class="btn" type="submit" name="mode" value="custom">Submit</button></div>
    <br>
  </form>

</div>


{% endblock %}
