{% extends "base.html" %} {% block title %} Alphabet Goop {% endblock %}
<!-- game board -->

<!-- display leaderboard if applicable -->
<style>
  td {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
{% block content %}
<div>
  
  <div id="word-bank">
      <h3>Word Bank</h3>
      {% if not wb %}
      <p> Not a valid category. Have fun finding nothing. </p>
      {% endif%}
      <p>{% for word in wb %} {{ word }} | {% endfor %}</p>
  </div>
  <div id="puzzle">
    <table>
      <tbody>
        {% for row in board %}
        <tr>
          {% for letter in row %}
          <td class="letter">{{ letter }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
  <div id="selected">__________________</div>
  <br>
  <div id="timer">
    <span id="timer-number"> 0 </span> s
  </div>
  
  
</div>



<script>
  // shows syntax error but it's how jinja works
  let words = {{wb|safe}};
</script>
<script src="../static/game.js"></script>

{% endblock %}
