{% extends "base.html" %} {% block title %} Alphabet Goop {% endblock %}
<!-- game board -->

<!-- display leaderboard if applicable -->
<style>
  td {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
{% block content %}
<div>
  <div id="selected">__________________</div>
  <br />
  <table id="puzzle" border="1">
    <tbody>
      {% for row in board %}
      <tr>
        {% for letter in row %}
        <td class="letter">{{ letter }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3> Word Bank </h3>
    <p>
        {% for word in wb %}
        {{word}} |
        {% endfor %}
    </p>

<script src="../static/game.js"></script>
{% endblock %}
